annotated-types==0.7.0
black==24.10.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
idna==3.10
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
pydub==0.25.1
requests==2.32.3
srt==3.5.3
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
vosk==0.3.44
websockets==14.1
